.microblog-post {
  padding: 10px;
  border-bottom: 1px solid rgb(204, 214, 221);
}

.microblog-nickname {
  color: #14171a;
  font-size: 14px;
  font-weight: bold;
}

.microblog-timestamp {
  float: right;
  font-size: 14px;
  color: #657786;
}
